/* 减少 homeInfo 到顶部的距离 */
/* .first-entry {
    margin-top: -50px !important;
} */

/* 减少 post 列表到 homeInfo 的距离 */
/* .post-entry:first-of-type {
    margin-top: -100px;
} */

body {
      font-size: 16px;
  }

  .post-title {
      font-size: 36px;
  }

  .post-content h1 {
      font-size: 28px;
  }

  .post-content h2 {
      font-size: 24px;
  }

  .post-content h3 {
      font-size: 18px;
  }